<md-card>
  <md-list flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Orders</span>
      </md-card-title-text>
      <md-button ng-click="add()">Add</md-button>
    </md-card-title>
    <md-list-item class="md-3-line" ng-repeat="item in items" ng-click="null">
      <img ng-src="{{item.dish.image}}" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ item.dish.title }}</h3>
        <h4>{{ item.state }}</h4>
        <p>{{ item.dish.price }} Credits</p>
      </div>
    </md-list-item>
  </md-list>
</md-card>